<div class="col-10 offset-1 about">
  <h1>About Noodle's Quote Generator</h1>

  <p>Noodle's Quote Generator is the first web application built by Shelly Chen. Shelly is an aspiring web developer and the proud mom of <a href="https://instagram.com/the_noodz" target="_blank">Noodle the Dog</a>.
  </p>
  <br>
  <p>If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/" target="_blank">here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'shelly.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Shelly Chen</h2>
      <br />
      <p>
        Shelly Chen is a queer second generation Asian American and a lifelong Angeleno. With a background in community organizing and civic engagement work, Shelly hopes to bring a unique perspective to a career in web development and is particularly interested in the intersection of technology and social justice.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />